<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Message #{{ numberOfMessage }} of {{ numberOfTotalMessages }}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    @if (record.headers) {
      <p>Header:</p>
      <app-code-snippet
        [code]="record.headers.toString()"
        [showLineNumbers]="false"
        [wrapCode]="true"
      >
      </app-code-snippet>
    }

    @if (record.key) {
      <p>Key:</p>
      <app-code-snippet [code]="record.key" [showLineNumbers]="false" [wrapCode]="true">
      </app-code-snippet>
    }

    <p>Value:</p>
    <app-code-snippet [code]="record.value" [showLineNumbers]="false" [wrapCode]="true">
    </app-code-snippet>
  </mat-card-content>

  <mat-card-footer>
    <mat-chip-set aria-label="Record technical information">
      <mat-chip>{{ record.timestamp | date: 'medium' }}</mat-chip>
      <mat-chip>Partition: {{ record.partition }}</mat-chip>
      <mat-chip>Offset: {{ record.offset }}</mat-chip>
    </mat-chip-set>
  </mat-card-footer>
</mat-card>
