<div>
  <div>{{ title }}</div>
  <div>
    <pre>
      @if (showLineNumbers) {
        <code [highlightAuto]="showTruncated ? codeTruncated : codeFormatted" [class.code-wrap]="wrapCode" lineNumbers></code>
      } @else {
        <code [highlightAuto]="showTruncated ? codeTruncated : codeFormatted" [class.code-wrap]="wrapCode"></code>
      }
    </pre>

    @if (codeTruncated) {
      <button mat-button (click)="toggleShowTruncated()">
        {{ showTruncated ? 'Show more' : 'Show less' }}
      </button>
    }
  </div>
</div>

<!--
<div style="position: relative">
  <textarea
    id="editing"
    matInput
    cdkTextareaAutosize
    spellcheck="false"
    [(ngModel)]="text"
    [ngModelOptions]="{ standalone: true }"
  ></textarea>
  <pre id="highlighting" aria-hidden="true">
  <code [highlightAuto]="text"></code>
</pre>
</div>
-->
